<div class="page-header">
    <h1> Main component </h1>
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <label>Производитель</label>
                <select class="form-control" name="company" [(ngModel)]="company">
                    <option *ngFor="let comp of companies" [value]="comp">
                        {{comp}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <label>Название модели</label>
                <input class="form-control" name="title" [(ngModel)]="title" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <label>Цена</label>
                <input type="number" class="form-control" name="price" [(ngModel)]="price" />
            </div>
        </div>
        <div class="form-group">
                <button class="btn btn-default" (click)="addItem()">Добавить</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Компания-производитель</th>
                <th>Наименование модели</th>
                <th>Цена</th>
                <th>Выбрать</th>
            </tr>
        </thead>
        <tbody>
            <tr bold [selectedSize]="'28px'" [defaultSize]="'14px'" *ngFor="let item of items">
                <td>{{item.company}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price}}</td>
                <td><input type="checkbox" [(ngModel)]="item.select" /></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <div>
        <h2> Data component 1</h2>
        <data-comp>Loading...</data-comp>
    </div>
    <div>
        <h2> Data component 2</h2>
        <data-comp>Loading...</data-comp>
    </div>
</div>