<a asp-controller="Client" asp-action="Index">Start page</a>
<a asp-controller="Client" asp-action="Secret">Tokens info</a>

@if (User.Identity.IsAuthenticated)
{
    <text>
        <a asp-controller="Client" asp-action="Logout">Log out</a>
    </text>
}

