@model RegisterViewModel
<h1>User info</h1>

<form class="form-group" asp-controller="Auth">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <label class="form-control">@Model.UserName</label>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <label class="form-control">@Model.Email</label>
    </div>
    <!-- div class="form-group">
        <a class="btn btn-success" asp-controller="Auth" asp-action="EditUser"
           asp-all-route-data='new Dictionary<string,string> { { "UserName", @Model.UserName }, {"Email", @Model.Email } }'>Edit</a>
    <div -->
</form>
